<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
  <h2>確認画面</h2>
  <h3>タスク名</h3>
    <%= form.hidden_field :title %>
    <p><%= @task.title %></p>
  <h3>詳細</h3>
    <%= form.hidden_field :content %>
    <p><%= @task.content %></p>
  <div>
  <h3>終了期限</h3>
    <%= form.hidden_field :deadline %>
    <p><%= l @task.deadline, format: :short %></p>
  <h3>ステータス</h3>
    <%= form.hidden_field :status %>
    <p><%= @task.status_i18n %></p>
  <div>
    <%= form.submit %>
  </div>

  <div>
    <%= form.submit "戻る", name: "back" %>
  </div>
<% end %>