<h2>タスク詳細</h2>

<p><%= notice %></p>

<p>タスク名: <br>
<%= @task.title %></p>
<p>詳細: <br>
<%= @task.content %></p>
<p>終了期限: <br>
<%= l @task.deadline, format: :short %></p>

<p><%= link_to '戻る', tasks_path %></p>