<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="d-flex flex-column flex-md-row align-items-center bg-light bg-gradient p-2 px-md-4 mb-3 border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">To Do appli</h5>
    <nav class="my-4 my-md-2 mr-md-6">
    <% if logged_in? %>
      <% if current_user.admin? %>
        <%= link_to "管理者画面", admin_users_path, class: "p-2 text-dark" %>
      <% end %>
      <%= link_to "Profile", user_path(current_user.id), class: "p-2 text-dark" %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete, class: "mr-1 btn btn-secondary btn-sm" %>
    <% else %>
      <%= link_to "Sign up", new_user_path, class: "p-2 text-dark" %>
      <%= link_to "Login", new_session_path, class: "mr-1 btn btn-primary btn-sm" %>
    <% end %>
    </nav>
  </header>
  <div class="container">
    <div class="mb-3 text-success">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    </div>
    <%= yield %>
  </div>
  <footer class="border-top mt-5">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 mt-4 mb-4">
          <div class="small text-center text-muted fst-italic">Copyright &copy; Min 2023</div>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
